Ideas for data analysis:
* Total distance
* Total time
* Percentage of distance in each sport type
* Percentage of time in each sport type
* Number of activities per month over time
* Distance per month over time
* Time per month over time

In [1]:
import pandas as pd
from numpy import float64 as np_float64, int64 as np_int64
import json

In [2]:
def read_datastore(file_name):
    try:
        with open(file_name, 'r') as file:
            return json.load(file)
    except FileNotFoundError:
        print(f'Error reading datastore: File not found: {file_name}')
        return None
    except json.JSONDecodeError:
        print(f'Error reading datastore: Invalid JSON format in file: {file_name}')
        return None

In [3]:
data = read_datastore('data.json')['data']
df = pd.DataFrame(data)
df

,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,id,...,elev_high,elev_low,upload_id,upload_id_str,external_id,from_accepted_tag,pr_count,total_photo_count,has_kudoed,workout_type
0,2,"{'id': 120371207, 'resource_state': 1}",Walk 346,4347.5,3401,3955,38.0,Walk,Walk,15461899300,...,29.6,15.1,1.651219e+10,16512193132,shealth0b8dff56-60d7-46ab-867a-0ce31ab64be7.tcx,False,0,1,False,NaN
1,2,"{'id': 120371207, 'resource_state': 1}",Walk 345,2040.2,1992,1992,3.4,Walk,Walk,15453726647,...,25.8,22.1,1.650352e+10,16503521655,shealthbe1a2ce3-a033-4499-abad-8b680bba2eaf.tcx,False,0,0,False,NaN
2,2,"{'id': 120371207, 'resource_state': 1}",Run 349,5039.3,1567,1567,16.0,Run,Run,15453469541,...,31.6,22.1,1.650325e+10,16503245293,shealth2278a298-eca1-4767-ac63-8232d9cb8eda.tcx,False,0,0,False,3.0
3,2,"{'id': 120371207, 'resource_state': 1}",Warmup Run 349,755.8,251,322,0.0,Run,Run,15453207554,...,26.2,24.5,1.650296e+10,16502963728,shealthe376f0c3-ef07-42a8-b8cd-9aca012d4d24.tcx,False,0,0,False,NaN
4,2,"{'id': 120371207, 'resource_state': 1}",Walk 344,3257.6,2660,3005,0.0,Walk,Walk,15449753522,...,26.2,24.5,1.649922e+10,16499223670,shealth0449053d-6c8b-4ec5-912b-5e14d0e9126f.tcx,False,0,0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,2,"{'id': 120371207, 'resource_state': 1}","Run 3/24, ST&F 2022",3910.7,1201,1201,20.1,Run,Run,11287810792,...,NaN,NaN,NaN,NaN,None,False,0,4,False,0.0
1871,2,"{'id': 120371207, 'resource_state': 1}","Run 10/19, XC 2021",6662.7,2213,2213,0.0,Run,Run,11287795809,...,NaN,NaN,NaN,NaN,None,False,0,3,False,0.0
1872,2,"{'id': 120371207, 'resource_state': 1}","Run 10/14, XC 2021",5841.9,1869,1869,0.0,Run,Run,11287786775,...,NaN,NaN,NaN,NaN,None,False,0,3,False,2.0
1873,2,"{'id': 120371207, 'resource_state': 1}","Run 10/13, XC 2021",6566.1,2100,2100,0.0,Run,Run,11287779715,...,NaN,NaN,NaN,NaN,None,False,0,3,False,2.0
1874,2,"{'id': 120371207, 'resource_state': 1}","Random Run, XC 2021",273.6,227,227,0.0,Run,Run,11287771867,...,NaN,NaN,NaN,NaN,None,False,0,3,False,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1875 entries, 0 to 1874
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   resource_state                 1875 non-null   int64
 1   athlete                        1875 non-null   object
 2   name                           1875 non-null   object
 3   distance                       1875 non-null   float64
 4   moving_time                    1875 non-null   int64
 5   elapsed_time                   1875 non-null   int64
 6   total_elevation_gain           1875 non-null   float64
 7   type                           1875 non-null   object
 8   sport_type                     1875 non-null   object
 9   id                             1875 non-null   int64
 10  start_date                     1875 non-null   object
 11  start_date_local               1875 non-null   object
 12  timezone                       1875 non-null   object
 13  utc_offset                     1875 non-null   int64
 14  location_city                  0 non-null      object
 15  location_state                 0 non-null      object
 16  location_country               0 non-null      object
 17  achievement_count              1875 non-null   int64
 18  kudos_count                    1875 non-null   int64
 19  comment_count                  1875 non-null   int64
 20  athlete_count                  1875 non-null   int64
 21  photo_count                    1875 non-null   int64
 22  map                            1875 non-null   object
 23  trainer                        1875 non-null   bool
 24  commute                        1875 non-null   bool
 25  manual                         1875 non-null   bool
 26  private                        1875 non-null   bool
 27  visibility                     1875 non-null   object
 28  flagged                        1875 non-null   bool
 29  gear_id                        1667 non-null   object
 30  start_latlng                   1875 non-null   object
 31  end_latlng                     1875 non-null   object
 32  average_speed                  1875 non-null   float64
 33  max_speed                      1875 non-null   float64
 34  average_cadence                1084 non-null   float64
 35  has_heartrate                  1875 non-null   bool
 36  average_heartrate              330 non-null    float64
 37  max_heartrate                  330 non-null    float64
 38  heartrate_opt_out              1875 non-null   bool
 39  display_hide_heartrate_option  1875 non-null   bool
 40  elev_high                      1593 non-null   float64
 41  elev_low                       1593 non-null   float64
 42  upload_id                      1593 non-null   float64
 43  upload_id_str                  1593 non-null   object
 44  external_id                    1593 non-null   object
 45  from_accepted_tag              1875 non-null   bool
 46  pr_count                       1875 non-null   int64
 47  total_photo_count              1875 non-null   int64
 48  has_kudoed                     1875 non-null   bool
 49  workout_type                   1336 non-null   float64
dtypes: bool(10), float64(11), int64(12), object(17)
memory usage: 604.4+ KB

In [5]:
df["kudos_count"].sum() / df["visibility"].value_counts().drop(index="only_me").values.sum()

np.float64(11.296059637912673)

In [6]:
df["gear_id"].value_counts()

gear_id
g18564771    693
g17294992    416
g17343209    297
g17295010    192
g23706838     54
g17373348     15
Name: count, dtype: int64

In [7]:
moving_time_by_sport = df.groupby(by="sport_type")["distance"].sum().to_dict()
moving_time_by_sport

{'EBikeRide': 179731.6,
 'Elliptical': 68043.3,
 'Hike': 9909.9,
 'Run': 5866606.0,
 'StairStepper': 69315.09999999999,
 'Walk': 1193993.4,
 'Workout': 10460.5}

In [8]:
# def get_mileage_per_week(df, sport="all"):

In [9]:
df["start_date_dt"] = pd.to_datetime(df["start_date"])

df.groupby(pd.Grouper(key="start_date_dt", freq="W-MON", label="left", closed="left"))["distance"].sum()

start_date_dt
2021-10-11 00:00:00+00:00    12681.6
2021-10-18 00:00:00+00:00     6662.7
2021-10-25 00:00:00+00:00        0.0
2021-11-01 00:00:00+00:00        0.0
2021-11-08 00:00:00+00:00        0.0
                              ...
2025-07-14 00:00:00+00:00    93015.4
2025-07-21 00:00:00+00:00    79391.9
2025-07-28 00:00:00+00:00    95159.0
2025-08-04 00:00:00+00:00    89876.0
2025-08-11 00:00:00+00:00    51243.8
Freq: W-MON, Name: distance, Length: 201, dtype: float64

In [55]:
def get_weekly(column, target_df=df):
    if "start_date_dt" not in df.columns:
        df["start_date_dt"] = pd.to_datetime(df["start_date"])

    return (target_df
                .groupby(pd.Grouper(key="start_date_dt", freq="W-MON", label="left", closed="left"))[column]
                .sum()
                .rename(index=lambda ts: int(ts.timestamp()) * 1000)
                .to_dict())

In [66]:
d = get_weekly("distance")
d[list(d.keys())[0]]

12681.6

In [67]:
d = {}

for sport in df["sport_type"].unique():
    d[sport] = get_weekly("distance", df[df["sport_type"] == sport])

sum_ = 0

for sport, data in d.items():
    first_key = list(data.keys())[0]
    print(first_key)
    sum_ += data[first_key]

sum_

1705276800000
1633910400000
1738540800000
1738540800000
1706486400000
1748822400000
1740355200000

32102.799999999996

In [69]:
def get_weekly_by_sport(column):
    d = {}

    for sport in df["sport_type"].unique():
        d[sport] = get_weekly(column, df[df["sport_type"] == sport])

    return d

In [71]:
get_weekly_by_sport("kudos_count")

{'Walk': {1705276800000: 0,
  1705881600000: 0,
  1706486400000: 0,
  1707091200000: 0,
  1707696000000: 0,
  1708300800000: 0,
  1708905600000: 0,
  1709510400000: 0,
  1710115200000: 0,
  1710720000000: 0,
  1711324800000: 0,
  1711929600000: 0,
  1712534400000: 0,
  1713139200000: 0,
  1713744000000: 0,
  1714348800000: 0,
  1714953600000: 0,
  1715558400000: 0,
  1716163200000: 47,
  1716768000000: 11,
  1717372800000: 0,
  1717977600000: 39,
  1718582400000: 34,
  1719187200000: 21,
  1719792000000: 55,
  1720396800000: 13,
  1721001600000: 61,
  1721606400000: 145,
  1722211200000: 112,
  1722816000000: 117,
  1723420800000: 96,
  1724025600000: 95,
  1724630400000: 95,
  1725235200000: 17,
  1725840000000: 24,
  1726444800000: 31,
  1727049600000: 10,
  1727654400000: 0,
  1728259200000: 21,
  1728864000000: 0,
  1729468800000: 30,
  1730073600000: 16,
  1730678400000: 19,
  1731283200000: 44,
  1731888000000: 17,
  1732492800000: 0,
  1733097600000: 16,
  1733702400000: 11,
  1734307200000: 36,
  1734912000000: 44,
  1735516800000: 14,
  1736121600000: 0,
  1736726400000: 0,
  1737331200000: 0,
  1737936000000: 0,
  1738540800000: 0,
  1739145600000: 23,
  1739750400000: 30,
  1740355200000: 12,
  1740960000000: 0,
  1741564800000: 0,
  1742169600000: 25,
  1742774400000: 11,
  1743379200000: 11,
  1743984000000: 7,
  1744588800000: 14,
  1745193600000: 7,
  1745798400000: 14,
  1746403200000: 14,
  1747008000000: 0,
  1747612800000: 35,
  1748217600000: 32,
  1748822400000: 8,
  1749427200000: 11,
  1750032000000: 0,
  1750636800000: 28,
  1751241600000: 21,
  1751846400000: 12,
  1752451200000: 16,
  1753056000000: 9,
  1753660800000: 10,
  1754265600000: 10,
  1754870400000: 2},
 'Run': {1633910400000: 0,
  1634515200000: 0,
  1635120000000: 0,
  1635724800000: 0,
  1636329600000: 0,
  1636934400000: 0,
  1637539200000: 0,
  1638144000000: 0,
  1638748800000: 0,
  1639353600000: 0,
  1639958400000: 0,
  1640563200000: 0,
  1641168000000: 0,
  1641772800000: 0,
  1642377600000: 0,
  1642982400000: 0,
  1643587200000: 0,
  1644192000000: 0,
  1644796800000: 0,
  1645401600000: 0,
  1646006400000: 0,
  1646611200000: 0,
  1647216000000: 0,
  1647820800000: 0,
  1648425600000: 0,
  1649030400000: 0,
  1649635200000: 0,
  1650240000000: 0,
  1650844800000: 0,
  1651449600000: 0,
  1652054400000: 0,
  1652659200000: 0,
  1653264000000: 0,
  1653868800000: 0,
  1654473600000: 0,
  1655078400000: 0,
  1655683200000: 0,
  1656288000000: 0,
  1656892800000: 0,
  1657497600000: 0,
  1658102400000: 0,
  1658707200000: 0,
  1659312000000: 0,
  1659916800000: 0,
  1660521600000: 0,
  1661126400000: 0,
  1661731200000: 0,
  1662336000000: 0,
  1662940800000: 0,
  1663545600000: 0,
  1664150400000: 0,
  1664755200000: 0,
  1665360000000: 0,
  1665964800000: 0,
  1666569600000: 0,
  1667174400000: 0,
  1667779200000: 0,
  1668384000000: 0,
  1668988800000: 0,
  1669593600000: 0,
  1670198400000: 0,
  1670803200000: 0,
  1671408000000: 0,
  1672012800000: 0,
  1672617600000: 0,
  1673222400000: 0,
  1673827200000: 0,
  1674432000000: 0,
  1675036800000: 0,
  1675641600000: 0,
  1676246400000: 0,
  1676851200000: 0,
  1677456000000: 0,
  1678060800000: 0,
  1678665600000: 0,
  1679270400000: 0,
  1679875200000: 0,
  1680480000000: 0,
  1681084800000: 0,
  1681689600000: 0,
  1682294400000: 0,
  1682899200000: 0,
  1683504000000: 0,
  1684108800000: 0,
  1684713600000: 0,
  1685318400000: 0,
  1685923200000: 0,
  1686528000000: 0,
  1687132800000: 0,
  1687737600000: 0,
  1688342400000: 15,
  1688947200000: 26,
  1689552000000: 29,
  1690156800000: 36,
  1690761600000: 44,
  1691366400000: 62,
  1691971200000: 59,
  1692576000000: 35,
  1693180800000: 30,
  1693785600000: 45,
  1694390400000: 28,
  1694995200000: 40,
  1695600000000: 24,
  1696204800000: 22,
  1696809600000: 29,
  1697414400000: 21,
  1698019200000: 27,
  1698624000000: 64,
  1699228800000: 84,
  1699833600000: 78,
  1700438400000: 89,
  1701043200000: 64,
  1701648000000: 74,
  1702252800000: 63,
  1702857600000: 70,
  1703462400000: 86,
  1704067200000: 62,
  1704672000000: 72,
  1705276800000: 82,
  1705881600000: 73,
  1706486400000: 55,
  1707091200000: 0,
  1707696000000: 0,
  1708300800000: 23,
  1708905600000: 50,
  1709510400000: 48,
  1710115200000: 46,
  1710720000000: 50,
  1711324800000: 46,
  1711929600000: 51,
  1712534400000: 66,
  1713139200000: 82,
  1713744000000: 78,
  1714348800000: 84,
  1714953600000: 65,
  1715558400000: 98,
  1716163200000: 59,
  1716768000000: 70,
  1717372800000: 80,
  1717977600000: 91,
  1718582400000: 93,
  1719187200000: 115,
  1719792000000: 103,
  1720396800000: 129,
  1721001600000: 164,
  1721606400000: 167,
  1722211200000: 161,
  1722816000000: 174,
  1723420800000: 161,
  1724025600000: 192,
  1724630400000: 157,
  1725235200000: 185,
  1725840000000: 146,
  1726444800000: 163,
  1727049600000: 182,
  1727654400000: 179,
  1728259200000: 179,
  1728864000000: 175,
  1729468800000: 174,
  1730073600000: 179,
  1730678400000: 196,
  1731283200000: 163,
  1731888000000: 170,
  1732492800000: 160,
  1733097600000: 148,
  1733702400000: 147,
  1734307200000: 88,
  1734912000000: 106,
  1735516800000: 94,
  1736121600000: 91,
  1736726400000: 101,
  1737331200000: 0,
  1737936000000: 21,
  1738540800000: 64,
  1739145600000: 60,
  1739750400000: 42,
  1740355200000: 21,
  1740960000000: 11,
  1741564800000: 9,
  1742169600000: 0,
  1742774400000: 33,
  1743379200000: 47,
  1743984000000: 19,
  1744588800000: 39,
  1745193600000: 36,
  1745798400000: 44,
  1746403200000: 39,
  1747008000000: 9,
  1747612800000: 16,
  1748217600000: 46,
  1748822400000: 31,
  1749427200000: 41,
  1750032000000: 45,
  1750636800000: 57,
  1751241600000: 44,
  1751846400000: 56,
  1752451200000: 46,
  1753056000000: 51,
  1753660800000: 58,
  1754265600000: 59,
  1754870400000: 29},
 'EBikeRide': {1738540800000: 21,
  1739145600000: 0,
  1739750400000: 14,
  1740355200000: 10,
  1740960000000: 9,
  1741564800000: 0,
  1742169600000: 0,
  1742774400000: 0,
  1743379200000: 11,
  1743984000000: 8,
  1744588800000: 0,
  1745193600000: 5,
  1745798400000: 8,
  1746403200000: 0,
  1747008000000: 11,
  1747612800000: 0,
  1748217600000: 0,
  1748822400000: 8,
  1749427200000: 6,
  1750032000000: 8,
  1750636800000: 9,
  1751241600000: 6,
  1751846400000: 6,
  1752451200000: 4,
  1753056000000: 8,
  1753660800000: 8,
  1754265600000: 5,
  1754870400000: 6},
 'StairStepper': {1738540800000: 14,
  1739145600000: 9,
  1739750400000: 10,
  1740355200000: 7,
  1740960000000: 0,
  1741564800000: 0,
  1742169600000: 0,
  1742774400000: 10,
  1743379200000: 0,
  1743984000000: 11,
  1744588800000: 5,
  1745193600000: 0,
  1745798400000: 9,
  1746403200000: 7,
  1747008000000: 0,
  1747612800000: 0,
  1748217600000: 0,
  1748822400000: 4,
  1749427200000: 9,
  1750032000000: 6,
  1750636800000: 9,
  1751241600000: 7,
  1751846400000: 10,
  1752451200000: 5,
  1753056000000: 5,
  1753660800000: 5,
  1754265600000: 9,
  1754870400000: 7},
 'Elliptical': {1706486400000: 0,
  1707091200000: 0,
  1707696000000: 0,
  1708300800000: 0,
  1708905600000: 0,
  1709510400000: 0,
  1710115200000: 0,
  1710720000000: 0,
  1711324800000: 0,
  1711929600000: 0,
  1712534400000: 0,
  1713139200000: 0,
  1713744000000: 0,
  1714348800000: 0,
  1714953600000: 0,
  1715558400000: 0,
  1716163200000: 0,
  1716768000000: 0,
  1717372800000: 0,
  1717977600000: 0,
  1718582400000: 0,
  1719187200000: 0,
  1719792000000: 0,
  1720396800000: 0,
  1721001600000: 0,
  1721606400000: 0,
  1722211200000: 0,
  1722816000000: 0,
  1723420800000: 0,
  1724025600000: 0,
  1724630400000: 0,
  1725235200000: 0,
  1725840000000: 0,
  1726444800000: 0,
  1727049600000: 0,
  1727654400000: 0,
  1728259200000: 0,
  1728864000000: 0,
  1729468800000: 0,
  1730073600000: 0,
  1730678400000: 0,
  1731283200000: 0,
  1731888000000: 0,
  1732492800000: 0,
  1733097600000: 0,
  1733702400000: 0,
  1734307200000: 0,
  1734912000000: 0,
  1735516800000: 0,
  1736121600000: 0,
  1736726400000: 0,
  1737331200000: 0,
  1737936000000: 0,
  1738540800000: 16,
  1739145600000: 24,
  1739750400000: 11,
  1740355200000: 9,
  1740960000000: 0,
  1741564800000: 0,
  1742169600000: 0,
  1742774400000: 0,
  1743379200000: 9,
  1743984000000: 0,
  1744588800000: 10,
  1745193600000: 5,
  1745798400000: 0,
  1746403200000: 5,
  1747008000000: 7,
  1747612800000: 0,
  1748217600000: 6,
  1748822400000: 4,
  1749427200000: 6,
  1750032000000: 6,
  1750636800000: 7,
  1751241600000: 4,
  1751846400000: 7,
  1752451200000: 6,
  1753056000000: 8,
  1753660800000: 5,
  1754265600000: 6},
 'Hike': {1748822400000: 7},
 'Workout': {1740355200000: 10,
  1740960000000: 0,
  1741564800000: 0,
  1742169600000: 0,
  1742774400000: 0,
  1743379200000: 11,
  1743984000000: 0,
  1744588800000: 13,
  1745193600000: 11,
  1745798400000: 5,
  1746403200000: 10,
  1747008000000: 7}}