Ideas for data analysis:
* Total distance
* Total time
* Percentage of distance in each sport type
* Percentage of time in each sport type
* Number of activities per month over time
* Distance per month over time
* Time per month over time

In [1]:
import pandas as pd
from numpy import float64 as np_float64, int64 as np_int64
import json

In [2]:
def read_datastore(file_name):
    try:
        with open(file_name, 'r') as file:
            return json.load(file)
    except FileNotFoundError:
        print(f'Error reading datastore: File not found: {file_name}')
        return None
    except json.JSONDecodeError:
        print(f'Error reading datastore: Invalid JSON format in file: {file_name}')
        return None

In [3]:
data = read_datastore('data.json')['data']
df = pd.DataFrame(data)
df

,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,id,...,elev_low,upload_id,upload_id_str,external_id,from_accepted_tag,pr_count,total_photo_count,has_kudoed,suffer_score,workout_type
0,2,"{'id': 120371207, 'resource_state': 1}",Walk 301,3628.6,2935,2935,3.7,Walk,Walk,15043425732,...,22.3,1.606081e+10,16060814299,shealth93884812-2418-4d6d-836d-027e9345ff62.tcx,False,0,0,False,6.0,NaN
1,2,"{'id': 120371207, 'resource_state': 1}",Run 317,5037.8,1589,1589,15.6,Run,Run,15043110950,...,22.3,1.606046e+10,16060457399,shealth30f00d1b-eaa7-4829-9a3f-39ee6acc1231.tcx,False,0,0,False,25.0,3.0
2,2,"{'id': 120371207, 'resource_state': 1}",Warmup Run 317,864.7,325,325,0.0,Run,Run,15042903836,...,24.5,1.606022e+10,16060220776,shealthdb84f32e-b694-4960-a813-bd176976b29f.tcx,False,0,0,False,1.0,0.0
3,2,"{'id': 120371207, 'resource_state': 1}",Stair Stepper 15,3556.7,1049,1049,489.5,StairStepper,StairStepper,15034568995,...,NaN,NaN,NaN,None,False,0,2,False,18.0,NaN
4,2,"{'id': 120371207, 'resource_state': 1}",Walk 300,885.9,745,761,3.4,Walk,Walk,15032633387,...,22.3,1.604894e+10,16048940174,shealth4c4a14f8-a09a-494f-8327-9b62b83dded1.tcx,False,0,0,False,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1745,2,"{'id': 120371207, 'resource_state': 1}","Run 3/24, ST&F 2022",3910.7,1201,1201,20.1,Run,Run,11287810792,...,NaN,NaN,NaN,None,False,0,4,False,NaN,0.0
1746,2,"{'id': 120371207, 'resource_state': 1}","Run 10/19, XC 2021",6662.7,2213,2213,0.0,Run,Run,11287795809,...,NaN,NaN,NaN,None,False,0,3,False,NaN,0.0
1747,2,"{'id': 120371207, 'resource_state': 1}","Run 10/14, XC 2021",5841.9,1869,1869,0.0,Run,Run,11287786775,...,NaN,NaN,NaN,None,False,0,3,False,NaN,2.0
1748,2,"{'id': 120371207, 'resource_state': 1}","Run 10/13, XC 2021",6566.1,2100,2100,0.0,Run,Run,11287779715,...,NaN,NaN,NaN,None,False,0,3,False,NaN,2.0
1749,2,"{'id': 120371207, 'resource_state': 1}","Random Run, XC 2021",273.6,227,227,0.0,Run,Run,11287771867,...,NaN,NaN,NaN,None,False,0,3,False,1.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1750 entries, 0 to 1749
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   resource_state                 1750 non-null   int64
 1   athlete                        1750 non-null   object
 2   name                           1750 non-null   object
 3   distance                       1750 non-null   float64
 4   moving_time                    1750 non-null   int64
 5   elapsed_time                   1750 non-null   int64
 6   total_elevation_gain           1750 non-null   float64
 7   type                           1750 non-null   object
 8   sport_type                     1750 non-null   object
 9   id                             1750 non-null   int64
 10  start_date                     1750 non-null   object
 11  start_date_local               1750 non-null   object
 12  timezone                       1750 non-null   object
 13  utc_offset                     1750 non-null   int64
 14  location_city                  0 non-null      object
 15  location_state                 0 non-null      object
 16  location_country               0 non-null      object
 17  achievement_count              1750 non-null   int64
 18  kudos_count                    1750 non-null   int64
 19  comment_count                  1750 non-null   int64
 20  athlete_count                  1750 non-null   int64
 21  photo_count                    1750 non-null   int64
 22  map                            1750 non-null   object
 23  trainer                        1750 non-null   bool
 24  commute                        1750 non-null   bool
 25  manual                         1750 non-null   bool
 26  private                        1750 non-null   bool
 27  visibility                     1750 non-null   object
 28  flagged                        1750 non-null   bool
 29  gear_id                        1558 non-null   object
 30  start_latlng                   1750 non-null   object
 31  end_latlng                     1750 non-null   object
 32  average_speed                  1750 non-null   float64
 33  max_speed                      1750 non-null   float64
 34  average_cadence                975 non-null    float64
 35  has_heartrate                  1750 non-null   bool
 36  average_heartrate              221 non-null    float64
 37  max_heartrate                  221 non-null    float64
 38  heartrate_opt_out              1750 non-null   bool
 39  display_hide_heartrate_option  1750 non-null   bool
 40  elev_high                      1484 non-null   float64
 41  elev_low                       1484 non-null   float64
 42  upload_id                      1484 non-null   float64
 43  upload_id_str                  1484 non-null   object
 44  external_id                    1484 non-null   object
 45  from_accepted_tag              1750 non-null   bool
 46  pr_count                       1750 non-null   int64
 47  total_photo_count              1750 non-null   int64
 48  has_kudoed                     1750 non-null   bool
 49  suffer_score                   1655 non-null   float64
 50  workout_type                   1275 non-null   float64
dtypes: bool(10), float64(12), int64(12), object(17)
memory usage: 577.8+ KB

In [26]:
df["kudos_count"].sum() / df["visibility"].value_counts().drop(index="only_me").values.sum()

np.float64(11.497737556561086)

In [28]:
df["gear_id"].value_counts()

gear_id
g18564771    665
g17294992    389
g17343209    270
g17295010    192
g23706838     27
g17373348     15
Name: count, dtype: int64

In [7]:
moving_time_by_sport = df.groupby(by="sport_type")["distance"].sum().to_dict()
moving_time_by_sport

{'EBikeRide': 19518,
 'Elliptical': 19152,
 'Hike': 12297,
 'Run': 1808221,
 'StairStepper': 16488,
 'Walk': 995627,
 'Workout': 10878}