Ideas for data analysis:
* Total distance
* Total time
* Percentage of distance in each sport type
* Percentage of time in each sport type
* Number of activities per month over time
* Distance per month over time
* Time per month over time

In [6]:
import pandas as pd
import json

In [7]:
def read_datastore(file_name):
    try:
        with open(file_name, 'r') as file:
            return json.load(file)
    except FileNotFoundError:
        print(f'Error reading datastore: File not found: {file_name}')
        return None
    except json.JSONDecodeError:
        print(f'Error reading datastore: Invalid JSON format in file: {file_name}')
        return None

In [14]:
data = read_datastore('data.json')['data']
df = pd.DataFrame(data)
df

,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,id,...,elev_high,elev_low,upload_id,upload_id_str,external_id,from_accepted_tag,pr_count,total_photo_count,has_kudoed,workout_type
0,2,"{'id': 120371207, 'resource_state': 1}",Walk 253,3319.6,2313,2338,0.0,Walk,Walk,14573011717,...,26.2,24.5,1.555014e+10,15550138008,shealth855c9d09-6e6a-4981-b132-0b5311b2d220.tcx,False,0,0,False,NaN
1,2,"{'id': 120371207, 'resource_state': 1}",Run 279,5044.0,1773,1773,14.4,Run,Run,14568807302,...,26.6,22.0,1.554562e+10,15545624873,shealthbf20e46d-4ce5-4023-92e4-2a0bdb9e8422.tcx,False,0,0,False,3.0
2,2,"{'id': 120371207, 'resource_state': 1}",Warmup Run 279,884.9,387,393,0.0,Run,Run,14568515363,...,26.1,24.5,1.554531e+10,15545313403,shealth5ca420e2-4331-43ac-a465-d5464fc6aa9e.tcx,False,0,0,False,0.0
3,2,"{'id': 120371207, 'resource_state': 1}",Walk 252,2173.7,1672,1692,0.0,Walk,Walk,14545644463,...,26.1,24.5,1.552071e+10,15520705394,shealth174f6b4d-2be0-4798-9de8-117606a20b55.tcx,False,0,0,False,NaN
4,2,"{'id': 120371207, 'resource_state': 1}",Walk 251,4119.2,2959,2980,0.0,Walk,Walk,14539720968,...,26.1,24.5,1.551444e+10,15514438483,shealthf3ef3112-32f7-4712-aea4-47007210dfe8.tcx,False,0,0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1603,2,"{'id': 120371207, 'resource_state': 1}","Run 3/24, ST&F 2022",3910.7,1201,1201,20.1,Run,Run,11287810792,...,NaN,NaN,NaN,NaN,None,False,0,4,False,0.0
1604,2,"{'id': 120371207, 'resource_state': 1}","Run 10/19, XC 2021",6662.7,2213,2213,0.0,Run,Run,11287795809,...,NaN,NaN,NaN,NaN,None,False,0,3,False,0.0
1605,2,"{'id': 120371207, 'resource_state': 1}","Run 10/14, XC 2021",5841.9,1869,1869,0.0,Run,Run,11287786775,...,NaN,NaN,NaN,NaN,None,False,0,3,False,2.0
1606,2,"{'id': 120371207, 'resource_state': 1}","Run 10/13, XC 2021",6566.1,2100,2100,0.0,Run,Run,11287779715,...,NaN,NaN,NaN,NaN,None,False,0,3,False,2.0
1607,2,"{'id': 120371207, 'resource_state': 1}","Random Run, XC 2021",273.6,227,227,0.0,Run,Run,11287771867,...,NaN,NaN,NaN,NaN,None,False,0,3,False,0.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1608 entries, 0 to 1607
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   resource_state                 1608 non-null   int64
 1   athlete                        1608 non-null   object
 2   name                           1608 non-null   object
 3   distance                       1608 non-null   float64
 4   moving_time                    1608 non-null   int64
 5   elapsed_time                   1608 non-null   int64
 6   total_elevation_gain           1608 non-null   float64
 7   type                           1608 non-null   object
 8   sport_type                     1608 non-null   object
 9   id                             1608 non-null   int64
 10  start_date                     1608 non-null   object
 11  start_date_local               1608 non-null   object
 12  timezone                       1608 non-null   object
 13  utc_offset                     1608 non-null   int64
 14  location_city                  0 non-null      object
 15  location_state                 0 non-null      object
 16  location_country               0 non-null      object
 17  achievement_count              1608 non-null   int64
 18  kudos_count                    1608 non-null   int64
 19  comment_count                  1608 non-null   int64
 20  athlete_count                  1608 non-null   int64
 21  photo_count                    1608 non-null   int64
 22  map                            1608 non-null   object
 23  trainer                        1608 non-null   bool
 24  commute                        1608 non-null   bool
 25  manual                         1608 non-null   bool
 26  private                        1608 non-null   bool
 27  visibility                     1608 non-null   object
 28  flagged                        1608 non-null   bool
 29  gear_id                        1433 non-null   object
 30  start_latlng                   1608 non-null   object
 31  end_latlng                     1608 non-null   object
 32  average_speed                  1608 non-null   float64
 33  max_speed                      1608 non-null   float64
 34  average_cadence                853 non-null    float64
 35  has_heartrate                  1608 non-null   bool
 36  average_heartrate              98 non-null     float64
 37  max_heartrate                  98 non-null     float64
 38  heartrate_opt_out              1608 non-null   bool
 39  display_hide_heartrate_option  1608 non-null   bool
 40  elev_high                      1361 non-null   float64
 41  elev_low                       1361 non-null   float64
 42  upload_id                      1361 non-null   float64
 43  upload_id_str                  1361 non-null   object
 44  external_id                    1361 non-null   object
 45  from_accepted_tag              1608 non-null   bool
 46  pr_count                       1608 non-null   int64
 47  total_photo_count              1608 non-null   int64
 48  has_kudoed                     1608 non-null   bool
 49  workout_type                   1199 non-null   float64
dtypes: bool(10), float64(11), int64(12), object(17)
memory usage: 518.3+ KB

In [17]:
total_distance = df.distance.sum()
total_distance

np.float64(6431792.699999999)

In [21]:
dist_by_sport_type = df.groupby(by='sport_type').distance.sum()
dist_by_sport_type

sport_type
EBikeRide         90493.4
Elliptical        37256.5
Run             5347341.3
StairStepper      30175.4
Walk             916065.6
Workout           10460.5
Name: distance, dtype: float64

In [27]:
for cat, dist in dist_by_sport_type.items():
    print(f'Percentage of total distance in category {cat}: {dist*100 / total_distance}%')

Percentage of total distance in category EBikeRide: 1.406970097155028%
Percentage of total distance in category Elliptical: 0.5792552984489069%
Percentage of total distance in category Run: 83.13920471970437%
Percentage of total distance in category StairStepper: 0.46916002127991474%
Percentage of total distance in category Walk: 14.242772469952275%
Percentage of total distance in category Workout: 0.1626373934595249%